---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Presentations">
    <div class="page-container">
        <h1>Presentations</h1>

        <p class="intro-text">
            Throughout my research career, I presented my findings at scientific conferences and institutions.
            Here are some notable presentations and symposia:
        </p>

        <section>
            <h2>Conference Presentations</h2>
            <ul class="custom-list">
                <li>
                    <span class="list-item-title">
                        The Structure of Viruses as Determined by X-Ray Diffraction
                    </span>
                    <span class="list-item-description">Ciba Foundation Symposium on The Nature of Viruses, London, 1956</span>
                </li>
                <li>
                    <span class="list-item-title">
                        X-Ray Studies of the Structure of Tobacco Mosaic Virus
                    </span>
                    <span class="list-item-description">International Congress of Biochemistry, Brussels, 1955</span>
                </li>
                <li>
                    <span class="list-item-title">
                        The Molecular Structure of Nucleic Acids: Evidence from X-Ray Diffraction
                    </span>
                    <span class="list-item-description">Faraday Society Discussion, London, 1953</span>
                </li>
                <li>
                    <span class="list-item-title">
                        X-Ray Diffraction Studies of DNA
                    </span>
                    <span class="list-item-description">Royal Institution, London, 1952</span>
                </li>
            </ul>
        </section>

        <section>
            <h2>Seminars & Colloquia</h2>
            <ul class="custom-list">
                <li>
                    <span class="list-item-title">
                        Research Seminar on Virus Structure
                    </span>
                    <span class="list-item-description">
                        Birkbeck College, University of London, 1957
                        <span class="extra-links">
                            Presented ongoing research on polio virus and tobacco mosaic virus structures
                        </span>
                    </span>
                </li>
                <li>
                    <span class="list-item-title">
                        Crystallographic Methods in Structural Biology
                    </span>
                    <span class="list-item-description">
                        King's College London Research Seminar, 1952
                        <span class="extra-links">
                            Discussed techniques for obtaining high-quality X-ray diffraction photographs of biological materials
                        </span>
                    </span>
                </li>
                <li>
                    <span class="list-item-title">
                        Carbon Structure and Properties
                    </span>
                    <span class="list-item-description">
                        Cambridge University Chemistry Colloquium, 1947
                        <span class="extra-links">
                            Presented doctoral research on coal microstructure
                        </span>
                    </span>
                </li>
            </ul>
        </section>
    </div>
</Layout>
